/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
    position: center
    
}
  body {
     width: 800px;
     height: 100%;
     background-color: beige
  }

  header {
      background-color:E6FFF9 ;
      padding: 10px;
      border: 5px solid lavender;
      margin: 50px;
      font-size: 22px;
      display: block;
  }
  nav {
      float: left;
      width: 100%;
  }
  nav ul {
      padding: ;
      float: left;
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
  }
  nav li a {
      display: block;
      height: 25px;
      padding: 12px 18px 8px 18px;
      vertical-align: middle;
  }
  a {
      color: ;
  }
  section {
      width: 73%;
      display: inline-block;
      float: left;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 790px;
      background-color:;
      color:;
      clear: both;
      display: block;
  }